body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: lightgray;
  font-family: sans-serif;
  color: gray;
  overflow: auto;
}

ul {
  list-style: none;
  margin-left: 0;
}

.container {
  max-width: 70%;
  width: 100%;
  margin: auto;
  background: white;
}

.content {
  padding: 1rem;
}

.page-title {
  text-align: center;
}

.new-link {
  text-align: center;
}

.button-container {
  margin: 1rem;
}

.new-btn, .edit-todo {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background: gray;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
    &:hover {
      background: #b296dd;
    }
}

.delete-todo {
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  color: white;
  background: gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  &:hover {
    cursor: pointer;
    background: red;
  }
}

.collection__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  margin: 1rem;
  border-radius: 0.5rem;
}

.todo-group__title {
  margin: 1rem;
}
