<div class="card">
  <div class="card-title">
  <h2 class="page-title">{{ model.verb }}</h2>
  </div>

{{#each model.items as |item|}}
<div class="collection__item">
  <button class="todo-item__toggle">
    <span aria-hidden="true" class="todo-item__done fa fa-check-square-o">
    </span>
  </button>
  <p class="todo-item__name">{{item.name}}</p>
  <div class="todo-item__actions btn-item">
    <button class="btn delete delete-btn">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </div>
</div>
{{/each}}

</div>

{{outlet}}
