<div class="card">
  <h2 class="page-title">{{ model.verb }}</h2>

<div class="thing">
{{#each model.items as |item|}}
<div class="collection__item">
  {{item.name}}
</div>
{{/each}}
</div>

</div>

{{outlet}}
