<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">Your Todo List!</h2>
      {{#link-to "todo-group.new" class="new-link"}}Add a Todo{{/link-to}}



      <ul class="todo-list">
        <li class="todo-list__item">Hello</li>
        <li class="todo-list__item">Hello</li>

      </ul>
    </div>
  </div>
</div>

{{outlet}}
