<h1 class="page-title">Editing {{ model.verb }}</h1>

{{#simple-form onsubmit=(action "updateCategory" model) as |formValues|}}
  {{input class="input title-input" value=model.verb type="text"}}
  <button class="submit">Save</button>
{{/simple-form}}



{{ outlet }}
