<div class="app">
  <nav class="app-nav">
    <div class="container">
      <h2 class="app-title">{{#link-to "todo-group.index"}}<i class="fa fa-bars" aria-hidden="true"></i>{{/link-to}}Todos</h2>
    </div>
    {{ outlet }}

  </nav>
</div>
